[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==20.0a"
Pillow = ">=9.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
allow_prereleases = true
