[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = ">=20.2"
pillow = ">=9.5.0"
pyyaml = ">=6.0"

[dev-packages]
black = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.11"
